﻿@{
    ViewBag.Title = "FacebookResponseProcess";
}

<h2>Facebook Result</h2>

<p>
<span>Access Token :</span><span>@Session["facebookaccesstoken"]</span>
</p>
<p>
<span>Expire :</span><span>@Session["facebookexpire"]</span>
</p>

<h2>Google Result</h2>

<p>
<span>Access Token :</span><span>@Session["googleaccesstoken"]</span>
</p>
<p>
<span>Expire :</span><span>@Session["googleexpire"]</span>
</p>

<h2>Live Result</h2>

<p>
<span>Access Token :</span><span>@Session["liveaccesstoken"]</span>
</p>
<p>
<span>Expire :</span><span>@Session["liveexpire"]</span>
</p>


<h2>Meetup Result</h2>

<p>
<span>Access Token :</span><span>@Session["meetupaccesstoken"]</span>
</p>
<p>
<span>Expire :</span><span>@Session["meetupexpire"]</span>
</p>

<h2>Foursquare Result</h2>

<p>
<span>Access Token :</span><span>@Session["foursquareaccesstoken"]</span>
</p>
<p>
<span>Expire :</span><span>@Session["foursquareexpire"]</span>
</p>

<h2>Github Result</h2>

<p>
<span>Access Token :</span><span>@Session["githubaccesstoken"]</span>
</p>
<p>
<span>Expire :</span><span>@Session["githubexpire"]</span>
</p>

<h2>Citrixonline Result</h2>

<p>
<span>Access Token :</span><span>@Session["citrixonlineaccesstoken"]</span>
</p>
<p>
<span>Expire :</span><span>@Session["citrixonlineexpire"]</span>
</p>

<h2>Twitter Result</h2>
<p>
<span>Access Token :</span><span>@Session["twitteraccesstoken"]</span>
</p>

<h2>LinkedIn Result</h2>
<p>
<span>Access Token :</span><span>@Session["linkedinaccesstoken"]</span>
</p>

<h2>Yahoo Result</h2>
<p>
<span>Access Token :</span><span>@Session["yahooaccesstoken"]</span>
</p>

<h2>Flickr Result</h2>
<p>
<span>Access Token :</span><span>@Session["flickraccesstoken"]</span>
</p>

<h2>Vimeo Result</h2>
<p>
<span>Access Token :</span><span>@Session["vimeoaccesstoken"]</span>
</p>

