﻿@{
    ViewBag.Title = "Index";
}

<h2>OAuth2 Implementation</h2>

<p>
<a href="/Auth/Facebook">Login using Facebook</a>
</p>
<p>
<a href="/Auth/Google">Login using Google</a>
</p>
<p>
<a href="/Auth/Live">Login using Live</a>
</p>
<p>
<a href="/Auth/Meetup">Login using Meetup</a>
</p>
<p>
<a href="/Auth/Foursquare">Login using Foursquare</a>
</p>
<p>
<a href="/Auth/Github">Login using Github</a>
</p>
<p>
<a href="/Auth/Citrixonline">Login using Citrixonline</a>
</p>
<p>
<a href="/Auth/Twitter">Login using Twitter</a>
</p>
<p>
<a href="/Auth/LinkedIn">Login using LinkedIn</a>
</p>
<p>
<a href="/Auth/Yahoo">Login using Yahoo</a>
</p>
<p>
<a href="/Auth/Flickr">Login using Flickr</a>
</p>
<p>
<a href="/Auth/Vimeo">Login using Vimeo</a>
</p>